<mat-card appearance="outlined">
    <mat-card-content>
		<form #loginform="ngForm" class="spaced-link" (ngSubmit)="onSubmit(loginform)">
			<div class="example-container">
				<mat-form-field>
					<mat-label>Enter your email</mat-label>
					<input
						matInput
						placeholder="pat@example.com"
						[(ngModel)]="signinData.mail"
						name="mail"
						required
						email
						#emailInput="ngModel"
					/>
					<!-- Messaggi di errore -->
					<mat-error *ngIf="emailInput.invalid && emailInput.touched">
						<span *ngIf="emailInput.errors?.['required']">Email is required</span>
						<span *ngIf="emailInput.errors?.['email']">Please enter a valid email address</span>
					</mat-error>
				</mat-form-field>

				<mat-form-field>
					<mat-label>Enter your password</mat-label>
					<input 
						matInput 
						[type]="hide() ? 'password' : 'text'" 
						[(ngModel)]="signinData.password"
						name="password" 
						required
					/>
					<button
					mat-icon-button
					matSuffix
					(click)="clickEvent($event)"
					[attr.aria-label]="'Hide password'"
					[attr.aria-pressed]="hide()"
					>
					<mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
					</button>
				</mat-form-field>
				<div>
					<button mat-raised-button type="submit">Accedi</button>
				</div>
			</div>
		</form>
	</mat-card-content>
</mat-card>








<!-- 
<body style="background-color: #F6F1F1;">

	<div>
		<div style="width: 25rem;">
			<h1>Login</h1>


			<div th:if="${param.error}" class="alert alert-danger text-center">
				Username o password errati.</div>
			<div th:if="${param.logout}" class="alert alert-success text-center">
				Sei stato disconnesso con successo.</div>


			<form>

				<div>
					<label for="username" >Email</label> <input
						type="text"id="username" name="username"
						required>
				</div>


				<div>
					<label for="password">Password</label> <input
						type="password"id="password" name="password"
						required>
				</div>


				<div>
					<input type="checkbox"> <label for="showPassword">Mostra password</label>
				</div>


				<div style="margin-bottom: 30px;">
					<button type="submit">Accedi</button>
				</div>
				<div>
				</div>
			</form>
		</div>
	</div>

	
	 <script>
		function togglePasswordVisibility() {
			const passwordField = document.getElementById('password');
			const showPasswordCheckbox = document
					.getElementById('showPassword');
			passwordField.type = showPasswordCheckbox.checked ? 'text'
					: 'password';
		}
	</script> 
</body> -->

