
<body>

	<div class="container-fluid">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
			data-bs-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<mat-list role="list" class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" id="navbarDropdown"
					role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Gestione prodotti </a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <mat-list role="list">
                            <mat-list-item role="listitem"><a class="dropdown-item" routerLink="/listMagliette">Magliette</a></mat-list-item>
                            <mat-list-item role="listitem"><a class="dropdown-item" routerLink="/listCamicie">Camicie</a></mat-list-item>
                            <mat-list-item role="listitem"><a class="dropdown-item" routerLink="/listVestiti">Vestiti</a></mat-list-item>
                            <mat-list-item role="listitem"><a class="dropdown-item" routerLink="/listPantaloni">Pantaloni</a></mat-list-item>
                            <mat-list-item role="listitem"><a class="dropdown-item" routerLink="/listScarpe">Scarpe</a></mat-list-item>
                            <mat-list-item role="listitem"><a class="dropdown-item" routerLink="/listVestiti">Vestiti</a></mat-list-item>
                            <mat-list-item role="listitem"><hr class="dropdown-divider"></mat-list-item>
                            <mat-list-item role="listitem"><a class="dropdown-item" routerLink="/listAll">Tutti i capi</a></mat-list-item>
                          </mat-list>
                        </ul>
                    </mat-list>
               
                       
					
				<li class="nav-item ms-5"><a class="nav-link"
					routerLink="/ordiniAdmin">Gestione ordini</a>
				<li class="nav-item ms-5 dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
					role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Gestione admin </a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li><a class="dropdown-item" routerLink="/profilo">Profilo</a></li>
						<li><hr class="dropdown-divider"></li>
						<li><a class="dropdown-item" routerLink="/createAdmin">Aggiungi
								admin</a></li>
					</ul></li>
				<li class="nav-item ms-5"><a class="nav-link"
					routerLink="/nuovoProdotto">Aggiungi prodotto</a></li>
			</ul>
			<ul class="navbar-nav ms-auto">
				<li class="nav-item"><a class="nav-link" routerLink="/logout">Logout</a></li>
			</ul>
		</div>
	</div>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>











